:root {
  --orange: #FE8E00;
  --red: #FC2202;
  --dark-orange: #FE6A00;
}

@font-face {
  font-family: customfont;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/534056/posters.otf);
}

@font-face {
  font-family: Katowice;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/534056/katowice.otf)
}

body {
  background: gainsboro;
  background-image: url("concrete.jpg");

}

.frame {
  display: grid;
  justify-content: center;
  margin: 50px auto;
}

.container {
  width: 745px;
  height: 1070px;
  -webkit-box-shadow: 8px 10px 28px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 8px 10px 28px -5px rgba(0, 0, 0, 0.36);
  box-shadow: 8px 10px 28px -5px rgba(0, 0, 0, 0.36);
  display: grid;
  background: #C9C9D1;
  grid-template-columns: 38px 69px 48px 124px 64px 45px 114px 16px 109px 65px 53px;
  grid-template-rows: 57px 35px 21px 132px 116px 114px 231px 157px 207px;
}

.orange {
  background: var(--orange);
}

.red {
  background: var(--red);
}

.dark-orange {
  background: var(--dark-orange);
}


.block-1 {
  grid-column: 5 / span 5;
  grid-row: 1 / span 2;
}

.block-2 {
  grid-column: 7 / span 5;
  grid-row: 4;
}

.block-3 {
  grid-column: 6 / span 4;
  grid-row: 3;
}

.block-4 {
  grid-column: 10 / span 2;
  grid-row: 3;
}

.block-5 {
  grid-column: 5;
  grid-row: 3 / span 5;
}

.block-6 {
  grid-column: 6;
  grid-row: 4 / span 5;
}

.block-7 {
  grid-column: 5;
  grid-row: 7;
}

.block-8 {
  grid-column: 5;
  grid-row: 8;
}

.block-9 {
  grid-column: 4;
  grid-row: 8;
}

.block-10 {
  grid-column: 2 / span 2;
  grid-row: 6 / span 3;
}

.block-11 {
  grid-column: 1;
  grid-row: 7 / span 2;
  ;
}

.block-12 {
  grid-column: 1;
  grid-row: 6;
}

.block-13 {
  grid-column: 9;
  grid-row: 4;
}

.block-14 {
  grid-column: 9;
  grid-row: 5 / span 5;
}

.block-15 {
  grid-column: 11;
  grid-row: 5 / span 5;
}

.block-16 {
  grid-column: 7;
  grid-row: 5 / span 4;
}

.block-17 {
  grid-column: 2 / span 2;
  grid-row: 9;
}

.block-18 {
  grid-column: 5 / span 2;
  grid-row: 9;
}

.block-19 {
  grid-column: 1 / span 3;
  grid-row: 5;
  height: 16px;
  align-self: end;
}

.block-20 {
  grid-column: 4;
  grid-row: 6 / span 3;
  width: 16px;
  position: relative;
  bottom: 16px;
}

.txt {
  font-family: Katowice;
  color: black;
  transform: rotate(-1deg);
}

.h1 {
  font-size: 150px;
  grid-row: 4;
  grid-column: 2 / span 7;
  position: relative;
  top: 40px;
  line-height: .8;
}

.date {
  font-size: 32px;
  grid-row: 6;
  grid-column: 3 / span 3;
  align-self: end;
  position: relative;
  top: 140px;
  left: -16px;
}

.words {
  grid-column: 3;
  grid-row: 8;
  font-size: 24px;
  align-self: end;
  position: relative;
  top: 20px;
}

.pvs {
  display: inline-block;
  padding: 2px 0px;
}

.social {
  font-size: 18px;
  grid-column: 3 / span 3;
  grid-row: 9;
  align-self: center;
}

.logo {
  grid-column: 9 / span 2;
  grid-row: 2 / span 3;
  transform: scale(0.4);
  position: relative;
  top: -60px;
  right: -35px;
  opacity: 0.2;
}

.top {
  grid-column: 3 / span 3;
  grid-row: 2;
  font-size: 14px;
}

.test-txt {

  font-size: 60px;
  /*   letter-spacing: -16px; */
}